# Welcome

We are going to be gathering weather data from the past year and throwing it into an SQLite database.
I realized on v1 that I was just throwing away data. Not good.

In [1]:
import requests
import json
from datetime import datetime
import pandas as pd

In [2]:
key_path = 'C:/Users/asalm/My_Drive/Github Repos/Secrets'
key_file = open(key_path + '/weatherapi.txt', 'r')
api_key = key_file.read()

Lets check what historical data we can get

In [ ]:
params = { 'key':api_key , 'q':'Calgary', 'dt':'2023-09-14' }
sample_response = requests.get('http://api.weatherapi.com/v1/history.json', params=params)
print(sample_response.status_code)

In [ ]:
print(json.dumps(obj=sample_response.json(), indent=2))

Lets think about what tables we want.
1. Forecast_hourly_data
   Columns: hour_id (ie. 23091403), *all the columns in each hour (minus condition: that we will just keep the code)
3. Forecast_day_data
4. Astro_data
5.

In [3]:
import sqlite3 as sl
connection = sl.connect('weather_v2_database.db')
print(connection.total_changes)

cursor = connection.cursor()

0

In [4]:
def conversion(element) :
    return '\'' + str(element) + '\''

# Table Creation

## Hourly Weather Table

In [ ]:
# Produce all the column names from the json

# sample_hourly = sample_response.json()['forecast']['forecastday'][0]['hour']
# column_names = ['hour_id', 'day_id']
# key_value_list = list(sample_hourly[0].items())
# for key, value in key_value_list[1:5] :
#     column_names.append(key)
# for key, value in key_value_list[6:] :
#     column_names.append(key)
# column_names.append('condition_text')
# column_names.append('condition_code')

# df = pd.DataFrame(column_names)
# df.to_csv('hourly_weather_columns.csv')

In [5]:
def getHourlyWeatherColumnNames() :
    dataframe = pd.read_csv('hourly_weather_columns.csv')
    my_list = dataframe['0'].values.tolist()[:]
    return my_list

In [6]:
print(getHourlyWeatherColumnNames())

['hour_id', 'day_id', 'time', 'temp_c', 'temp_f', 'is_day', 'wind_mph', 'wind_kph', 'wind_degree', 'wind_dir', 'pressure_mb', 'pressure_in', 'precip_mm', 'precip_in', 'humidity', 'cloud', 'feelslike_c', 'feelslike_f', 'windchill_c', 'windchill_f', 'heatindex_c', 'heatindex_f', 'dewpoint_c', 'dewpoint_f', 'will_it_rain', 'chance_of_rain', 'will_it_snow', 'chance_of_snow', 'vis_km', 'vis_miles', 'gust_mph', 'gust_kph', 'uv', 'condition_text', 'condition_code']

In [ ]:
def deleteHourlyWeatherTable() :
    try:
        cursor.execute('DROP TABLE hourly_weather')
    except:
        print('TABLE hourly_weather DOES NOT EXIST')

In [7]:
# Printing the database
def printHourlyWeather() :
    rows = cursor.execute('SELECT * FROM hourly_weather').fetchall()
    print(rows)

In [11]:
# Create hourly_weather table
def startHourlyWeatherTable() :
    column_names = getHourlyWeatherColumnNames()
    command = 'CREATE TABLE hourly_weather ( ' + ', '.join(list(map(conversion, column_names))) + ')'
    
    deleteHourlyWeatherTable()
    cursor.execute(command)
    printHourlyWeather()

In [12]:
# This is how I will format the hour_id
def getIdsAndTime(hour) :
    my_datetime = datetime.fromisoformat(hour['time'])
    [day_id, hour_id, time] = my_datetime.strftime('%y%m%d-%y%m%d%H-%H:%M').split('-')
    return [hour_id, day_id, time]

In [13]:
def insertHourlyData(hour) :
    insertion_values = getIdsAndTime(hour)
    keys_list = list(hour.keys())
    values_list = list(hour.values())
    insertion_values = insertion_values + values_list[2:5]
    insertion_values = insertion_values + values_list[6:]
    insertion_values.append(values_list[5]['text'])
    insertion_values.append(values_list[5]['code'])
    command = 'INSERT INTO hourly_weather VALUES (' + ', '.join(list(map(conversion, insertion_values))) + ')'
    cursor.execute(command)

In [ ]:
# sample_hourly = sample_response.json()['forecast']['forecastday'][0]['hour']
# #for hour in sample_hourly :
# #    insertHourlyData(hour)
# startHourlyWeatherTable()
# for hour in sample_hourly :
#     insertHourlyData(hour)

We now have a way to insert an entire day of hourly data into the hourly_weather table

In [14]:
df = pd.read_sql_query('SELECT * FROM hourly_weather', connection)
df.tail()

DatabaseError: Execution failed on sql 'SELECT * FROM hourly_weather': no such table: hourly_weather

## Day Forecast

In [ ]:
sample_day = sample_response.json()['forecast']['forecastday'][0]
print(sample_day)